.cursor {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--orange);
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    transition: all 0.1s ease-out;
}
.cursorInner {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--orange);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
    transition: all 0.1s ease-out;
}