.outer {
    width: 100%;
    height: 100%;
    margin: 5%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0% 100%, 0 10%);
}

.inner {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    background-color: var(--background);
    clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0% 100%, 0 10%);
}