.navMenu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    backdrop-filter: blur(6px);
    transition: all 0.2s ease-in-out;
}
.menuIcon {
    width: 50%;
    height: auto;
    margin: 20px 0;
    z-index: 200;
}
.pageLink {
    font-size: 64px;
    position: relative;
    transition: all 0.2s ease-in-out;
}
.pageLink::before {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background-color: white;
        position: absolute;
        left: 0;
        bottom: 9px;
        transition: width 0.2s ease-in-out;
}

@media (pointer: fine) {
    .menuIcon:hover {
        cursor: pointer;
    }
    .pageLink:hover::before {
        width: 100%;
    }
    .pageLink:hover {
        color: white;
    }
}