.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    font-size: x-large;
    user-select: none;
    gap: 1vh;
}
.title {
    text-align: center;
}
.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1ch;
    text-decoration: underline 2px transparent;
    transition: all 0.2s ease-in-out;
}
@media (pointer: fine) {
    .link:hover {
        text-decoration: underline 2px var(--text);
    }
}