.main {
  display: flex;
  flex-direction: column;
  margin: 0; 
  height: 100vh;
  background-color: var(--background);
  background-image: 
    linear-gradient(to right, var(--lineColor) 1px, transparent 1px), /* Vertical lines */
    linear-gradient(to bottom, var(--lineColor) 1px, transparent 1px); /* Horizontal lines */
  background-size: 20px 20px;
}
.header{
  width: 100%;
  /*background-color: rebeccapurple;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
}
.sectionLinks {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 5px;
}
.sectionLink {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 999px;
  border: 2px solid var(--orange);
}
.imageContainer {
  width: 30vw;
  height: 30vw;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  left: 50%;
  top: 10vh;
  transform: translateX(-50%);
}
.image {
  object-fit: cover;
  object-position: 0;
  transform: scale(1.4);
  transform-origin: center;
}