.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 50%;
}
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 10%;
    height: 100%;
    color: var(--red);
}
.links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}
.iconLink {
    width: 50%;
    height: auto;
    position: relative;
}
.icon {
    width: 100%;
    height: auto;
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.imageBorder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(24vw + 8px);
    height: calc(24vw + 8px);
    border-radius: 50%;
    background-image: conic-gradient(
            #ff0000 0%,
            #ff9a00 10%,
            #d0de21 20%,
            #4fdc4a 30%,
            #3fdad8 40%,
            #2fc9e2 50%,
            #1c7fee 60%,
            #5f15f2 70%,
            #ba0cf8 80%,
            #fb07d9 90%,
            #ff0000 100%
    );
}
.imageContainer {
    width: 24vw;
    height: 24vw;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}
.name {
    font-size: 48px;
}
.title {
    font-size: 32px;
}
.image {
    object-fit: cover;
    transform-origin: center;
}
.tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.tag {
    padding: 6px;
    border: 2px solid;
    border-radius: 10px;
    font-size: 16px;
}
.greeting {
    font-size: 24px;
}
.tooltip {
    position: absolute;
    left: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    opacity: 0;
    overflow: hidden;
    margin-left: 10px;
    transition: all 0.2s ease-in-out;
    background-color: var(--background);
    text-wrap: nowrap;
}
.iconLink:hover > .tooltip {
    width: max-content;
    opacity: 1;
}