.main {
    display: flex;
    flex-direction: column;
    margin: 0;
    background: radial-gradient(circle, var(--dots) 2px, transparent 2px),
    radial-gradient(circle, var(--dots) 2px, transparent 2px);
    background-size: 50px 50px, 50px 50px;
    background-position: 0 0, 25px 25px;
    padding-bottom: 12vh;
}

.heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    text-align: center;
}

.projects {
    column-width: 400px;
    column-gap: 30px;
    padding: 50px;
}

.project {
    border: 2px solid var(--red);
    display: flex;
    transition: all 0.2s ease-in-out;
    padding: 20px;
    max-width: 100%;
    flex-direction: column;
    gap: 10px;
    break-inside: avoid;
    margin-bottom: 30px;
}
.projectLink{
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: transparent;
    text-decoration-thickness: 1px;
    transition: all 0.2s ease-in-out;
}
.linkWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.projectTitle {
    text-decoration: underline;
    text-decoration-color: var(--red);
    text-decoration-thickness: 1px;
    width: 100%;
    font-size: 120%;
}
.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
}
.tag {
    padding: 0 5px;
    border: 2px solid var(--red);
    border-radius: 4px;
    text-wrap: nowrap;
}

@media (max-width: 768px) {
    .heading {
        font-size: 10vw;
    }
    .main {
        padding-bottom: 10vh;
    }
    .projects {
        padding: 15px;
    }
    .project {
        margin-bottom: 10px;
    }
}

@media (pointer: fine) {
    .project:hover {
        transform: scale(1.05);
        box-shadow: 0 0 20px var(--red);
    }
    .projectLink:hover {
        text-decoration-color: var(--red);
        cursor: none;
    }
}