.project {
    border: 2px solid var(--red);
    display: flex;
    transition: all 0.2s ease-in-out;
    padding: 20px;
    max-width: 100%;
    flex-direction: column;
    gap: 10px;
}
.projectLink{
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: transparent;
    text-decoration-thickness: 1px;
    transition: all 0.2s ease-in-out;
}
.linkWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.projectTitle {
    text-decoration: underline;
    text-decoration-color: var(--red);
    text-decoration-thickness: 1px;
    width: 100%;
    font-size: 120%;
}
.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
}
.tag {
    padding: 0 5px;
    border: 2px solid var(--red);
    border-radius: 4px;
    text-wrap: nowrap;
}

@media (max-width: 768px) {

}

@media (pointer: fine) {
    .project:hover {
        transform: scale(1.05);
        box-shadow: 0 0 20px var(--red);
    }
    .projectLink:hover {
        text-decoration-color: var(--red);
        cursor: pointer;
    }
}