.main {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    background: radial-gradient(circle, var(--dots) 2px, transparent 2px),
    radial-gradient(circle, var(--dots) 2px, transparent 2px);
    background-size: 50px 50px, 50px 50px;
    background-position: 0 0, 25px 25px;
}

.heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 64px;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    padding: 50px;
    gap: 30px;
}

.project {
    border: 2px solid var(--red);
    position: relative;
    transition: all 0.2s ease-in-out;
    padding: 20px;
}
.projectLink{
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: transparent;
    text-decoration-thickness: 1px;
    transition: all 0.2s ease-in-out;
}
.linkWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projectTitle {
    text-decoration: underline;
    text-decoration-color: var(--red);
    text-decoration-thickness: 1px;
    width: 100%;
    margin-bottom: 10px;
}
.icon {
    height: 64px;
    width: 64px;
    transition: all 0.2s ease-in-out;
}

@media (pointer: fine) {
    .project:hover {
        transform: scale(1.05);
        box-shadow: 0 0 20px var(--red);
    }
    .projectLink:hover {
        text-decoration-color: var(--red);
        cursor: none;
    }
}