@import "tailwindcss";

:root {
    --background: #163024;
    --foreground: #839788;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-montserrat), sans-serif;
}

::selection {
    background: #839788;
    color: #163024;
}

a {
    text-decoration: underline dotted;
}