---
import {Icon} from 'astro-icon/components'
---

<main class="main">
  <h1 class="title">Andy Sorge - Developer</h1>
  <div class="section">
    <h2 class="sectionTitle">My Projects</h2>
    <a
      href="https://github.com/asorge29/assignment-tracker"
      target="_blank"
      class="link">Assignment Tracker&#8599;</a
    >
    <a href="https://github.com/asorge29/swash" target="_blank" class="link"
      >Swash&#8599;</a
    >
  </div>
  <div class="section">
    <h2 class="sectionTitle">Contact</h2>
    <a href="https://github.com/asorge29" target="_blank" class="link">
      <div class="icon-wrapper">
        <Icon name="simple-icons:github">
      </div>
      <div>Github - @asorge29&#8599;</div>
    </a>
    <a href="https://linkedin.com/in/asorge29" target="_blank" class="link">
      <div class="icon-wrapper">
        <Icon name="simple-icons:linkedin">
      </div>
      <div>LinkedIn&#8599;</div>
    </a>
    <a href="mailto:hi@asorge29.dev" target="_blank" class="link">
      <div class="icon-wrapper">
        <Icon name="simple-icons:gmail">
      </div>
      <div>Email - hi@asorge29.dev&#8599;</div>
    </a>
  </div>
</main>

<style>
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    font-size: x-large;
    user-select: none;
    gap: 1vh;
  }
  .title {
    text-align: center;
  }
  .sections {
    display: flex;
    flex-direction: column;
    gap: 1vh;
  }
  .link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1ch;
    text-decoration: underline 2px transparent;
    transition: all 0.2s ease-in-out;
    color: inherit;
  }
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sectionTitle {
    text-decoration: underline 2px var(--text);
  }
  .icon-wrapper {
    display: flex;
    align-items: center;
  }

  @media (pointer: fine) {
    .link:hover {
      text-decoration: underline 2px var(--text);
    }
  }
</style>
